* {
  margin: 0;
  padding: 0;
}

.ant-card {
  color: rgba(0, 0, 0, 0.65);
}

.ant-card-bordered {
  border-color: #e8e8e8;
}
.ant-card .ant-card-cover {
  margin: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.ant-card .ant-card-cover img {
  border-radius: 0;
}

.ant-card .ant-card-meta-avatar {
  padding-inline-end: 0;
}

.ant-card .ant-card-meta {
  margin: 0;
}
.ant-card .ant-card-meta-description {
  margin: 0 0 5px 10px;
  color: rgba(0, 0, 0, 0.65);
  font-variant: tabular-nums;
}

.ant-card .ant-card-actions {
  background: #fafafa;
  border-top: 1px solid #e8e8e8;
  border-radius: 0;
}

.ant-card .ant-card-actions > li:not(:last-child) {
  border-inline-end: 1px solid #e8e8e8;
}
